/* variables for breakpoints */
$mobile: 600px;
$tablet-portrait: 960px;
$desktop-min: 1280px;
$big-desktop-min: 1921px;


/* mixins */
@mixin for-phone-only {
  @media (max-width: $mobile) { @content; }
}

@mixin for-tablet-portrait-up {
  @media (min-width: $mobile) { @content; }
}

@mixin for-tablet-portrait-down {
  @media (max-width: $tablet-portrait) { @content; }
}

@mixin for-tablet-landscape-up {
  @media (min-width: $tablet-portrait) { @content; }
}

@mixin for-tablet-landscape-down {
  @media (max-width: $desktop-min) { @content }
}

@mixin for-desktop-up {
  @media (min-width: $desktop-min) { @content; }
}

@mixin for-desktop-down {
  @media (max-width: $big-desktop-min) { @content; }
}

@mixin for-big-desktop-up {
  @media (min-width: $big-desktop-min) { @content; }
}
// ------------
@mixin for-tablet-and-desktop {
  @media (min-width: $mobile) and (max-width: $big-desktop-min) { @content; }
}

@mixin for-tablet-only {
  @media (min-width: $mobile) and (max-width: $desktop-min) { @content; }
}
