/* variables for colors */
$dark-base-color: #272525;
$darker-base-color: #121212;
$accent: #2767b1;
$accent-darker: rgba($accent, 0.6);
$font-color: #fff;
$font-color-darker: rgba($font-color, 0.4);
$dark-font-color: #000;
$dark-font-color-light: rgba($dark-font-color, 0.4);
