/* z-index variables */
$z-index: (
  ctx-menu: 99999,
  modal: 200,
  modal-background: 190,
  navigation-mobile: 150,
  navigation: 100,
  footer: 90,
  triangle: 60,
  navigation-rainbow: 50,
  share-type: 41,
  share: 40,
);

@function z-index($key) {
  @return map-get($z-index, $key);
}

@mixin z-index($key) {
  z-index: z-index($key);
}
