@mixin card-center () {
  @include center-both;

  .card {
    @include justify-content(center);

    button {
      width: 100%;
      margin-top: 2rem;
    }
  }

  .center {
    margin-top: 10px;
    text-align: center;
  }
}